@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
.font {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  p {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }
  

.bg-azul {
    border-color: rgb(255, 255, 255);
    background: #5614B0;    
    background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);
    background: linear-gradient(to right, #DBD65C, #5614B0);

}

input {
    background-color: rgb(57, 48, 48) !important;
    color: white !important;
}

body {
    background-image: url("../static/kfc-faxafeni.jpg ");
    background-repeat: no-repeat;
    background-size: 100%;
}

.carousel-item {
  position: relative;
  top: -100px;
}

span.carousel-control-next-icon {
  position: relative;
  top: 50px;
}

span.carousel-control-prev-icon {
  position: relative;
  top: 50px;
}

